html, body {
    font-family: 'Poppins', sans-serif !important;
}

a {
    color: #64ace0;
}

a:hover {
    color: #64ace0;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, span {
    font-family: 'Poppins', sans-serif !important;
}

.navbar {
    background-color: black !important;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif !important;
    color: #64ace0 !important;
}

.nav-link:hover {
    color: #64ace0 !important;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #64ace0 !important;
}

.text-primary  {
    color: #64ace0 !important;
}

.btn {
    background-color: #64ace0 !important;
    border-color: #64ace0 !important;
    color: white !important;
}

.btn:hover {
    background-color: #64ace0 !important;
    border-color: #64ace0 !important;
    color: white !important;
}

.btn:active {
    background-color: #64ace0 !important;
    border-color: #64ace0 !important;
}

.img-fluid {
    margin: 1rem 0 !important;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.img-fluid:hover {
    opacity: 0.5;
}

.portfolio-item button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.portfolio-item button:hover ~ .img-fluid {
    opacity: 0.5;
}

.img-fluid:hover ~ .add-to-cart-btn, .add-to-cart-btn:hover {
    display: inline-block;
}

.timeline-image {
    background-color: #64ace0 !important;
    border-color: #64ace0 !important;
}

.about-content {
    font-size: 1.5rem !important;
    font-style: normal !important;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #64ace0 !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #64ace0;
}

::-webkit-scrollbar-thumb:hover {
    background: #64ace0;
}

::selection {
    background-color: #64ace0 !important;
}
